@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 400;
}

main > .container {
    padding: 60px 15px 0;
  }

/* Header Styling */

.navbar-brand{
    font-family: Roboto, sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color:white;
    text-decoration: none;
}

.navbar-brand:hover{
    color: #f8b195;
}

.navbar-dark{
    background-color:  #355c7d;
    border-bottom: #f8b195 5px solid;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28248, 177, 149, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item{
    justify-content: space-between;
    font-size: 20px;
    margin-left: 6rem;
    display: flex;
}

.navbar-nav {
    text-transform: uppercase;
    font-size: 1.3rem;
    display: flex;
}

.navbar-nav .nav-link{
    color:white;
    font-weight: 600;
}

.navbar-nav .nav-link:hover{
    color: #f8b195;
}

/* Nav breakpoints */

@media only screen and (max-width: 769px) {
    .navbar-brand{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 390px) {
    .navbar-brand{
        font-size: 1.5rem;
    }
}

/* Footer Styling */

footer {
    background-color:#355c7d ;
    padding: 30px 0;
    color: white;
    border-top: #f8b195 5px solid;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-info h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.company-info p {
    font-size: 16px;
    line-height: 1.5;
}

.contact-info h4 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li {
    font-size: 16px;
    line-height: 1.5;
}

/* Content styling */
/*
.body-container {
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem 1rem;
}*/

/* Sign Up form */

.form-signup {
    width: 100%;
    max-width: 330px;
}

.form-col {
    display: flex;
    justify-content: center;
}

/* bt primary color */
.btn-primary {
    background-color: #355c7d;
    border-color: #355c7d;
}

/* inspiration page */

.inspiration-row {
    align-items: center;
    background-color: #355c7d;
    margin: 20px 0;
}

.inspiration-row h2 {
    color: #f8b195;
}

.inspiration-row p {
    color: white;
    font-size: 1.2rem;
    text-align: justify;
}

.inspiration-img {
    margin: 10px;
    border: 5px solid #f8b195;
}

/* 404 page styling */

.message {
    width: 50%;
    height: auto;
    background-color: #6c5b7b;
    color: white;
    position: relative;
    left: 25%;
    bottom: 25%;
    font-size: 1.2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    box-shadow: 10px 10px 20px black;
    text-shadow: 1px 2px 2px black;
    z-index: 3;
}

.message h1 {
    font-weight: 900;
}

.message p {
    font-weight: 600;
}

.message a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 1.5rem;
}

.brackets, .bounce {
    width: 100px;
    height: 100px;
  }

.brackets {
    font-size: 10rem;
    position: absolute;
    font-weight: 900;
    color: #f67280;
    z-index: 1
}

.x {
    animation: x 13s linear infinite alternate;
  }
  
.y {
    animation: y 7s linear infinite alternate;
  }
  
  @keyframes x {
    100% {
      transform: translateX( calc(60vw - 100px) );
    }
  }
  
  @keyframes y {
    100% {
      transform: translateY( calc(60vh - 100px) );
    }
  }

.asterix {
    font-size: 10rem;
    position: relative;
    font-weight: 900;
    color: #c06c84;
    margin-left: 500px;
    z-index: 2
}

.a {
    animation: x 7s linear infinite alternate;
  }
  
.b {
    animation: y 13s linear infinite alternate;
  }
  
  @keyframes a {
    100% {
      transform: translateX( calc(10vw - 90px) );
    }
  }
  
  @keyframes b {
    100% {
      transform: translateY( calc(10vw - 90px) );
    }
  }

.percentage {
    font-size: 10rem;
    position: relative;
    font-weight: 900;
    color: #f8b195;
    left: 800px;
    bottom: 200px;
    z-index: -1
}

.c {
    animation: x 15s linear infinite alternate;
  }
  
.d {
    animation: y 5s linear infinite alternate;
  }
  
  @keyframes c {
    100% {
      transform: translateX( calc(30vw - 80px) );
    }
  }
  
  @keyframes d {
    100% {
      transform: translateY( calc(40vw - 60px) );
    }
  }

  /* media queries */

  @media screen and (max-width: 400px) {
    .footer-container {
        flex-direction: column;
    }
  }