{% extends "base.html" %}
{% block content %}
<div class="row p-3">
  <div class="col-12 text-center">
    <h1>Welcome to WomenTechConnect</h1>
    <p>We're here to help women help each other</p>
  </div>
</div>
<div class="row p-3">
  <div class="col-12 col-md-4">
    <div class="row mb-5">
      <div class="col">
        <h2 class="mb-2">About us</h2>
        "Sign up to WomenTechConnect to connect with our growing network of tech mentors and to keep up to date with
        industry news, new technologies, tech events and to connect with your peers.

        A place for women in tech to come together to meet like-minded people and to help develop our skills and harness
        the power of the network."
      </div>
    </div>
    <div class="row mb-3 px-3 py-3 events-row">
      <div class="col mr-auto">
        <h2 class="mb-2">Events coming up</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explic</p>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8 px-5">
    <div class="row mb-5">
      <div class="col">
        "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo
        enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos
        qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
        consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam
        quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam,
        nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-3 py-3">
        <button class="btn btn-primary">Mentorship Programme</button>
      </div>
      <div class="col col-lg-3 py-3">
        <button class="btn btn-primary">Calendar of Events</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}