{% extends "base.html" %}
{% block content %}

<div class="text-center">
  <h1>Welcome to WomenTechConnect</h1>
  <h3>Helping women help each other</h3>
</div>

<div class="row p-3">
  <div class="col-12 col-md-4">
    <div class="row mb-5">
      <div class="col">
        <h3 class="mb-2">About us</h3>
        Sign up to WomenTechConnect to connect with our growing network of tech mentors and to keep up to date with
        industry news, new technologies, tech events and to connect with your peers.

        A place for women in tech to come together to meet like-minded people and to help develop our skills and harness
        the power of the network.
      </div>
    </div>
    <div class="row mb-3 px-3 py-3 events-row">
      <div class="col mr-auto events-col">
        <h3 class="mb-3">Events coming up</h3>
        <h5 class="mb-2"><a
            href="https://www.eventbrite.com/e/women-in-tech-virtual-workshop-negotiation-how-to-get-what-you-want-tickets-560978631187?aff=ebdssbonlinesearch"
            target="_blank">
            Women in Tech Virtual Workshop - Negotiation: How to Get What You Want
          </a></h5>
        <p><strong>Wed, Mar 22, 2023 @ 4:00 PM GMT</strong>
          <p>
            <p>Knoxville Technology Council</p>
      </div>
      <hr>
      <div class="col mr-auto events-col">
        <h5 class="mb-2"><a
            href="https://www.eventbrite.co.uk/e/iwd-rise-fintech-mentoring-tickets-521939263387?aff=ebdssbonlinesearch"
            target="_blank">
            IWD Rise FinTech Mentoring
          </a></h5>
        <p><strong>Fri, Mar 31, 2023 @ 9:00 AM BST</strong>
          <p>
            <p>Rise London</p>
      </div>
      <hr>
      <div class="col mr-auto events-col">
        <h5 class="mb-2"><a
            href="https://www.eventbrite.com/e/2023-womens-entrepreneurship-symposium-part-three-technology-and-funding-tickets-537684257087?aff=ebdssbonlinesearch"
            target="_blank">
            2023 Women’s Entrepreneurship Symposium, part three: Technology and funding
          </a></h5>
        <p><strong>Wed, Mar 29, 2023 @ 7:00 PM BST</strong>
          <p>
            <p>The U.S. Patent and Trademark Office</p>
      </div>
      <div class="py-3">
        <a class="btn btn-primary btn-fixed-width" role="button" href="{{ url_for('events') }}">View all events</a>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-8 px-5">
    <div class="row mb-5">
      <div class="col">
        <h3 class="mb-2">How it works</h3>
        The goal of our mentorship program is to accelerate the personal and professional development of our mentees for
        the benefit of all. We are growing a network of women in the technology industry which matches experienced
        leaders with individuals entering the community.
        You can search through our extensive list of mentors who are looking to work with women and share their
        experiences to ensure their mentees meet their potential.
        Filter through the categories to find the right mentor for you and schedule a call. By sharing our experiences
        we can help our peers to accelerate their career growth and help them to navigate the rapidly growing industry.
        In our experience mentoring increases career progression, promotion rates, and employee satisfaction for both
        the mentors and mentees.
        Mentors get the opportunity to develop their leadership and communication skills and gain new perspectives along
        with the knowledge that they are building the next generation of female developers.
        <section>
          <div class="row mt-2">
            <div class="col col-md-4 py-3">
              <a class="btn btn-primary btn-fixed-width" role="button" href="{{ url_for('search') }}">Meet our
                mentors</a>
            </div>
            <div class="col col-md-4 py-3">
              <a class="btn btn-primary btn-fixed-width" role="button" href="{{ url_for('signup') }}">Sign up</a>
            </div>
            <div class="col col-md-4 py-3">
              <a class="btn btn-primary btn-fixed-width" role="button" href="{{ url_for('inspiration') }}">Be
                inspired</a>
            </div>
          </div>
        </section>
        <section class="pt-3 pb-5">
          <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-1.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Fiona</h4>
                        <p class="card-text">Chief People Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-2.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Rachel</h4>
                        <p class="card-text">Chief Technical Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-3.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Sam</h4>
                        <p class="card-text">Head of Product</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-5.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Miriam</h4>
                        <p class="card-text">Chief Technical Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-6.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Sarah</h4>
                        <p class="card-text">Chief Technical Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-8.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Jovita</h4>
                        <p class="card-text">Chief Information Security Officer</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-9.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Davida</h4>
                        <p class="card-text">Chief Technologist</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-10.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Priya</h4>
                        <p class="card-text">Chief People Officer</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4 mb-3">
                    <div class="card">
                      <img class="card-img" alt="an image of a mentor" src="static/images/profile-11.jpeg">
                      <div class="card-body">
                        <h4 class="card-title">Maria</h4>
                        <p class="card-text">Head of Product</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselControls"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}

<script src="../static/js/script.js"></script>

{% endblock %}