{% extends "base.html" %}
{% block content %}

        <form>
            <div>
                <h5>Role</h5>
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="software-developer" name="flexRadioDefault"
                        id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Software Developer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                        value="hiring-manager" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                        Hiring Manager
                    </label>
                </div>
            </div>

            <div><button type="button" class="btn btn-primary search-mentors">Search</button></div>
        </form>

        <div class="container text-center">
            <div class="cards row">
                <div class="col-sm-4 mx-auto">
                    <div class="card col" style="width: 18rem;" data-exp="5" data-role="software-developer">
                        <img src="static/images/profile-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sarah</h5>
                            <p class="card-text">Sarah has worked in the tech industry for 5 years.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-business-time"></i> 5 Years Experience
                            </li>
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i> Software Developer</li>
                            <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> Availble from 12:00 -
                                6:00
                                PM (GMT)</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-success btn-call">Schedule a call</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mx-auto">
                    <div class="card col" style="width: 18rem;" data-exp=7 data-role="software-developer">
                        <img src="static/images/profile-2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Susan</h5>
                            <p class="card-text">Susan has worked in the tech industry for 7 years.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-business-time"></i> 7 Years Experience
                            </li>
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i> Software Developer</li>
                            <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> Availble from 12:00 -
                                6:00
                                PM (GMT)</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-success btn-call">Schedule a call</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mx-auto">
                    <div class="card col" style="width: 18rem;" data-exp=12 data-role="hiring-manager">
                        <img src="static/images/profile-3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Margaret</h5>
                            <p class="card-text">Sarah has worked in the tech industry for 12 years.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-business-time"></i> 12 Years Experience
                            </li>
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i> Hiring Manager</li>
                            <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> Availble from 12:00 -
                                6:00
                                PM (GMT)</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-success btn-call">Schedule a call</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    
{% endblock %}

{% block scripts %}

<script src="static/js/script.js"></script>

{% endblock %}