{% extends "base.html" %}
{% block content %}

        <div class="text-center">
            <h1>Mentorship Program</h1>
            <h3>Find your mentor</h3>
        </div>

        <form>
            <h4>Are you looking for a ...</h4>
            <div class="search-container">
                <div class="search-filter">
                    <h5>Role</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="role-chief-people-officer" value="chief-people-officer">
                        <label class="form-check-label" for="role-chief-people-officer">
                            Chief People Officer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="role-chief-technical-officer" value="chief-technical-officer">
                        <label class="form-check-label" for="role-chief-technical-officer">
                            Chief Technical Officer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="role-head-of-product" value="head-of-product">
                        <label class="form-check-label" for="role-head-of-product">
                            Head of Product
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="role-chief-information-security-officer" value="chief-information-security-officer">
                        <label class="form-check-label" for="chief-information-security-officer">
                            Chief Information Security Officer
                        </label>
                    </div>
                </div>
                <div class="search-filter">
                    <h5>Location</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="location" id="location-dublin" value="dublin">
                        <label class="form-check-label" for="location-dublin">
                            Dublin
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="location" id="location-london" value="london">
                        <label class="form-check-label" for="location-london">
                            London
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="location" id="location-boston" value="boston">
                        <label class="form-check-label" for="location-boston">
                            Boston
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="location" id="location-new-york" value="new-york">
                        <label class="form-check-label" for="location-new-york">
                            New York
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="location" id="location-melbourne" value="melbourne">
                        <label class="form-check-label" for="location-melbourne">
                            Melbourne
                        </label>
                    </div>
                </div>
                <div class="search-filter">
                    <h5>Skills</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-hiring-manager" value="hiring-manager">
                        <label class="form-check-label" for="skills-hiring-manager">
                            Hiring Manager
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-software-architect" value="software-architect">
                        <label class="form-check-label" for="skills-software-architect">
                            Software Architect
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-lead-developer" value="lead-developer">
                        <label class="form-check-label" for="skills-lead-developer">
                            Lead Developer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-solutions-architect" value="solutions-architect">
                        <label class="form-check-label" for="skills-solutions-architect">
                            Solutions Architect
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-senior-technical-lead" value="senior-technical-lead">
                        <label class="form-check-label" for="skills-senior-technical-lead">
                            Senior Technical Lead
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-security-and-compliance" value="security-and-compliance">
                        <label class="form-check-label" for="skills-security-and-compliance">
                            Security and Compliance
                        </label>
                    </div>
                </div>
                <div class="search-filter">
                    <h5>Career Progression</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="career-progression" id="career-progression-software-development" value="software-development">
                        <label class="form-check-label" for="career-progression-software-development">
                            Software Development
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="career-progression" id="career-progression-public-speaking" value="public-speaking">
                        <label class="form-check-label" for="career-progression-public-speaking">
                            Public Speaking
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="career-progression" id="career-progression-computer-science" value="computer-science">
                        <label class="form-check-label" for="career-progression-computer-science">
                            Computer Science
                        </label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg search-mentors">Search</button>
        </form>
        
        <hr>

        <div class="container text-center cards-container">
            <div class="cards row">
                <div class="col">
                    <div class="card" style="width: 18rem;" data-role="chief-people-officer" data-location="dublin" data-skills="hiring-manager" data-career-progression="software-development">
                        <img src="static/images/profile-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Fiona</h5>
                            <p class="card-text">Fiona has been working in tech recruitment for 8 years.</p>
                        </div>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i>  <span class="fw-bolder text-decoration-underline">Role</span> - Chief People Officer</li>
                            <li class="list-group-item"><i class="fa-solid fa-location-dot"></i>  <span class="fw-bolder text-decoration-underline">Location</span> - Dublin</li>
                            <li class="list-group-item"><i class="fa-solid fa-thumbtack"></i>  <span class="fw-bolder text-decoration-underline">Skills</span> - Hiring Manager</li>
                            <li class="list-group-item"><i class="fa-solid fa-up-long"></i>  <span class="fw-bolder text-decoration-underline">Career Progression</span> - Software Development</li>
                        </ul>
                        <div class="card-body">
                            <a type="button" class="btn btn-success btn-call" href="{{ url_for('contact') }}"><i class="fa-solid fa-calendar-days"></i> Schedule a call</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;" data-role="chief-technical-officer" data-location="london" data-skills="software-architect" data-career-progression="software-development">
                        <img src="static/images/profile-2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Rachel</h5>
                            <p class="card-text">Rachel has 10 years experience working as a CTO.</p>
                        </div>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i>  <span class="fw-bolder text-decoration-underline">Role</span> - Chief Technical Officer</li>
                            <li class="list-group-item"><i class="fa-solid fa-location-dot"></i>  <span class="fw-bolder text-decoration-underline">Location</span> - London</li>
                            <li class="list-group-item"><i class="fa-solid fa-thumbtack"></i>  <span class="fw-bolder text-decoration-underline">Skills</span> - Software Architect</li>
                            <li class="list-group-item"><i class="fa-solid fa-up-long"></i>  <span class="fw-bolder text-decoration-underline">Career Progression</span> - Software Development</li>
                        </ul>
                        <div class="card-body">
                            <a type="button" class="btn btn-success btn-call" href="{{ url_for('contact') }}"><i class="fa-solid fa-calendar-days"></i> Schedule a call</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;" data-role="head-of-product" data-location="dublin" data-skills="lead-developer" data-career-progression="public-speaking">
                        <img src="static/images/profile-3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sam</h5>
                            <p class="card-text">Sam has 20 years experience working in the tech industry</p>
                        </div>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i>  <span class="fw-bolder text-decoration-underline">Role</span> - Head of Product</li>
                            <li class="list-group-item"><i class="fa-solid fa-location-dot"></i>  <span class="fw-bolder text-decoration-underline">Location</span> - Dublin</li>
                            <li class="list-group-item"><i class="fa-solid fa-thumbtack"></i>  <span class="fw-bolder text-decoration-underline">Skills</span> - Lead Developer</li>
                            <li class="list-group-item"><i class="fa-solid fa-up-long"></i>  <span class="fw-bolder text-decoration-underline">Career Progression</span> - Public Speaking</li>
                        </ul>
                        <div class="card-body">
                            <a type="button" class="btn btn-success btn-call" href="{{ url_for('contact') }}"><i class="fa-solid fa-calendar-days"></i> Schedule a call</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;" data-role="chief-technical-officer" data-location="boston" data-skills="solutions-architect" data-career-progression="computer-science">
                        <img src="static/images/profile-5.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Miriam</h5>
                            <p class="card-text">Miriam has 30 years tech experience working in a range of industries.</p>
                        </div>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i>  <span class="fw-bolder text-decoration-underline">Role</span> - Chief Technical Officer</li>
                            <li class="list-group-item"><i class="fa-solid fa-location-dot"></i>  <span class="fw-bolder text-decoration-underline">Location</span> - Boston</li>
                            <li class="list-group-item"><i class="fa-solid fa-thumbtack"></i>  <span class="fw-bolder text-decoration-underline">Skills</span> - Solutions Architect</li>
                            <li class="list-group-item"><i class="fa-solid fa-up-long"></i>  <span class="fw-bolder text-decoration-underline">Career Progression</span> - Computer Science</li>
                        </ul>
                        <div class="card-body">
                            <a type="button" class="btn btn-success btn-call" href="{{ url_for('contact') }}"><i class="fa-solid fa-calendar-days"></i> Schedule a call</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;" data-role="chief-technical-officer" data-location="new-york" data-skills="senior-technical-lead" data-career-progression="software-development">
                        <img src="static/images/profile-6.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sarah</h5>
                            <p class="card-text">Sarah has over 15 years overseeing technical teams.</p>
                        </div>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i>  <span class="fw-bolder text-decoration-underline">Role</span> - Chief Technical Officer</li>
                            <li class="list-group-item"><i class="fa-solid fa-location-dot"></i>  <span class="fw-bolder text-decoration-underline">Location</span> - New York</li>
                            <li class="list-group-item"><i class="fa-solid fa-thumbtack"></i>  <span class="fw-bolder text-decoration-underline">Skills</span> - Senior Technical Lead</li>
                            <li class="list-group-item"><i class="fa-solid fa-up-long"></i>  <span class="fw-bolder text-decoration-underline">Career Progression</span> - Software Development</li>
                        </ul>
                        <div class="card-body">
                            <a type="button" class="btn btn-success btn-call" href="{{ url_for('contact') }}"><i class="fa-solid fa-calendar-days"></i> Schedule a call</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;" data-role="chief-information-security-officer" data-location="melbourne" data-skills="security-and-compliance" data-career-progression="computer-science">
                        <img src="static/images/profile-8.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Jovita</h5>
                            <p class="card-text">Jovita is an industry leader and brings 25 years of experience to the role.</p>
                        </div>
                        <ul class="list-group list-group-flush text-start">
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i>  <span class="fw-bolder text-decoration-underline">Role</span> - Chief Information Security Officer</li>
                            <li class="list-group-item"><i class="fa-solid fa-location-dot"></i>  <span class="fw-bolder text-decoration-underline">Location</span> - Melbourne</li>
                            <li class="list-group-item"><i class="fa-solid fa-thumbtack"></i>  <span class="fw-bolder text-decoration-underline">Skills</span> - Security and Compliance</li>
                            <li class="list-group-item"><i class="fa-solid fa-up-long"></i>  <span class="fw-bolder text-decoration-underline">Career Progression</span> - Computer Science</li>
                        </ul>
                        <div class="card-body">
                            <a type="button" class="btn btn-success btn-call" href="{{ url_for('contact') }}"><i class="fa-solid fa-calendar-days"></i> Schedule a call</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}

<script src="./static/js/script.js"></script>

{% endblock %}
