{% extends "base.html" %}
{% block content %}

        <div class="text-center">
            <h1>Mentorship Program</h1>
            <h3>Find your mentor</h3>
        </div>

        <form>
            <h4>Are you looking for a ...</h4>
            <div class="search-container">
                <div class="search-filter">
                    <h5>Role</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="role-chief-people-officer" value="chief-people-officer">
                        <label class="form-check-label" for="role-chief-people-officer">
                            Chief People Officer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="role-chief-technical-officer" value="chief-technical-officer">
                        <label class="form-check-label" for="role-chief-technical-officer">
                            Chief Technical Officer
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="role" id="role-head-of-product" value="head-of-product">
                        <label class="form-check-label" for="role-head-of-product">
                            Head of Product
                        </label>
                    </div>
                </div>
                <div class="search-filter">
                    <h5>Location</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="location" id="location-dublin" value="dublin">
                        <label class="form-check-label" for="location-dublin">
                            Dublin
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="location" id="location-london" value="london">
                        <label class="form-check-label" for="location-london">
                            London
                        </label>
                    </div>
                </div>
                <div class="search-filter">
                    <h5>Skills</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-hiring-manager" value="hiring-manager">
                        <label class="form-check-label" for="skills-hiring-manager">
                            Hiring Manager
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-software-architect" value="software-architect">
                        <label class="form-check-label" for="skills-software-architect">
                            Software Architect
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="skills" id="skills-lead-developer" value="lead-developer">
                        <label class="form-check-label" for="skills-lead-developer">
                            Lead Developer
                        </label>
                    </div>
                </div>
                <div class="search-filter">
                    <h5>Career Progression</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="career-progression" id="career-progression-software-development" value="software-development">
                        <label class="form-check-label" for="career-progression-software-development">
                            Software Development
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="career-progression" id="career-progression-public-speaking" value="public-speaking">
                        <label class="form-check-label" for="career-progression-public-speaking">
                            Public Speaking
                        </label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-primary btn-lg search-mentors">Search</button>
        </form>
        
        <hr>

        <div class="container text-center cards-container">
            <div class="cards row">
                <div class="col-sm-4 mx-auto">
                    <div class="card col" style="width: 18rem;" data-exp="5" data-role="software-developer">
                        <img src="static/images/profile-1.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Sarah</h5>
                            <p class="card-text">Sarah has worked in the tech industry for 5 years.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-business-time"></i> 5 Years Experience
                            </li>
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i> Software Developer</li>
                            <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> Availble from 12:00 -
                                6:00
                                PM (GMT)</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-success btn-call"><i class="fa-solid fa-calendar-days"></i> Schedule a call</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mx-auto">
                    <div class="card col" style="width: 18rem;" data-exp=7 data-role="software-developer">
                        <img src="static/images/profile-2.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Susan</h5>
                            <p class="card-text">Susan has worked in the tech industry for 7 years.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-business-time"></i> 7 Years Experience
                            </li>
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i> Software Developer</li>
                            <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> Availble from 12:00 -
                                6:00
                                PM (GMT)</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-success btn-call"><i class="fa-solid fa-calendar-days"></i> Schedule a call</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mx-auto">
                    <div class="card col" style="width: 18rem;" data-exp=12 data-role="hiring-manager">
                        <img src="static/images/profile-3.jpeg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Margaret</h5>
                            <p class="card-text">Sarah has worked in the tech industry for 12 years.</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="fa-solid fa-business-time"></i> 12 Years Experience
                            </li>
                            <li class="list-group-item"><i class="fa-solid fa-user-tie"></i> Hiring Manager</li>
                            <li class="list-group-item"><i class="fa-solid fa-calendar-days"></i> Availble from 12:00 -
                                6:00
                                PM (GMT)</li>
                        </ul>
                        <div class="card-body">
                            <button type="button" class="btn btn-success btn-call"><i class="fa-solid fa-calendar-days"></i> Schedule a call</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block scripts %}

<script src="./static/js/script.js"></script>

{% endblock %}
