{% extends "base.html" %}
{% block content %}
    <div class="row p-3">
      <div class="col-12 text-center">
        <h1>Sign Up</h1>
        <p>to get access to our Mentorship Programme and keep up to date with industry news and events</p>
      </div>
      <div class="col-12">
        <form class="row g-3 form-signup">
          <div class="col-12">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullName">
          </div>
          <div class="col-12">
            <label for="currentStatus" class="form-label">Current Status</label>
            <select id="currentStatus" class="form-select">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="col-12">
            <label for="Location" class="form-label">Location</label>
            <input type="text" class="form-control" id="Location">
          </div>
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
          </div>
          <div class="col-md-6">
            <input class="form-check-input" type="radio" name="category" id="mentor">
            <label class="form-check-label" for="mentor">
              Mentor
            </label>
          </div>
          <div class="col-md-6">
            <input class="form-check-input" type="radio" name="category" id="mentee">
            <label class="form-check-label" for="mentee">
              Mentee
            </label>
          </div>
          <div class="col-12">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
    {% endblock %}