{% extends "base.html" %}
{% block content %}

    <div class="row p-3">
      <div class="col-12 text-center">
        <h1>Sign Up</h1>
        <p>to get access to our Mentorship Programme and keep up to date with industry news and events</p>
      </div>
      <div class="col-12 form-col">
        <form method="POST" class="row g-3 form-signup" method="get" action="{{ url_for('signup') }}">
          <div class="col-12">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" id="username" name="username" required>
          </div>
          <div class="col-12">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="fullName" name="fullName" required>
          </div>
          <div class="col-12">
            <label for="areasOfInterest" class="form-label">Areas of Interest</label>
            <select id="areasOfInterest" name="areasOfInterest" class="form-select" required>
              <option value="" selected>Choose...</option>
              <option value="full-stack">Full-stack Development</option>
              <option value="front-end">Front-end Development</option>
              <option value="back-end">Back-end Development</option>
              <option value="dev-ops">DevOps Development</option>
            </select>
          </div>
          <div class="col-12">
            <label for="currentRole" class="form-label">Current Role</label>
            <input type="text" class="form-control" id="currentRole" name="currentRole" required>
          </div>
          <div class="col-12">
            <label for="location" class="form-label">Location</label>
            <input type="text" class="form-control" id="location" name="location" required>
          </div>
          <div class="col-12">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="col-12">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <div class="col-md-6">
            <input class="form-check-input" type="radio" name="category" id="mentor" value="mentor" required>
            <label class="form-check-label" for="mentor">
              Mentor
            </label>
          </div>
          <div class="col-md-6">
            <input class="form-check-input" type="radio" name="category" id="mentee" value="mentee" required>
            <label class="form-check-label" for="mentee">
              Mentee
            </label>
          </div>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>
        </form>
      </div>
    </div>
    
 {% endblock %}