{% extends "base.html" %}
{% block content %}

<div class="text-center">
  <h1>Meet the Team</h1>
  <h3>Connect with the minds behind Women Tech Connect</h3>
</div>

<div class="container text-center cards-container">
  <div class="cards row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../static/images/team/berat.jpeg" alt="Berat Zorlu's Profile Picture" class="img-team">
          <div class="card-body">
            <h5 class="card-title">Berat Zorlu</h5>
            <a href="https://github.com/beratzorlu"target="_blank" rel="noopener" aria-label="Link to the developer's GitHub Page" class="social-links"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.linkedin.com/in/berat-zorlu/" target="_blank" rel="noopener" aria-label="Link to the developer's LinkedIn Page" class="social-links"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../static/images/team/callum.png" alt="Callum Dennis's Profile Picture" class="img-team">
          <div class="card-body">
            <h5 class="card-title">Callum Dennis</h5>
            <a href="https://github.com/CallumDennisIE" target="_blank" rel="noopener" aria-label="Link to the developer's GitHub Page" class="social-links"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.linkedin.com/in/callum-dennis-ireland" target="_blank" rel="noopener" aria-label="Link to the developer's LinkedIn Page" class="social-links"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../static/images/team/hernan.jpeg" alt="Hernán Díaz's Profile Picture" class="img-team">
          <div class="card-body">
            <h5 class="card-title">Hernán Díaz</h5>
            <a href="https://github.com/hernanpd" target="_blank" rel="noopener" aria-label="Link to the developer's GitHub Page" class="social-links"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.linkedin.com/in/hern%C3%A1n-d%C3%ADaz-23702125b/" target="_blank" rel="noopener" aria-label="Link to the developer's LinkedIn Page" class="social-links"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../static/images/team/jade.jpeg" alt="Jade Carvalho's Profile Picture" class="img-team">
          <div class="card-body">
            <h5 class="card-title">Jade Carvalho</h5>
            <a href="https://github.com/Jade-ux" target="_blank" rel="noopener" aria-label="Link to the developer's GitHub Page" class="social-links"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.linkedin.com/in/jade-shannon-carvalho/" target="_blank" rel="noopener" aria-label="Link to the developer's LinkedIn Page" class="social-links"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../static/images/team/kieran.png" alt="Kieran Mclean's Profile Picture" class="img-team">
          <div class="card-body">
            <h5 class="card-title">Kieran Mclean</h5>
            <a href="https://github.com/Kieran132" target="_blank" rel="noopener" aria-label="Link to the developer's GitHub Page" class="social-links"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.linkedin.com/in/kieran-mclean95/" target="_blank" rel="noopener" aria-label="Link to the developer's LinkedIn Page" class="social-links"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../static/images/team/louise.png" alt="Louise Benson's Profile Picture" class="img-team">
          <div class="card-body">
            <h5 class="card-title">Louise Benson</h5>
            <a href="https://github.com/Louibens" target="_blank" rel="noopener" aria-label="Link to the developer's GitHub Page" class="social-links"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.linkedin.com/in/louise-benson-856792150/" target="_blank" rel="noopener" aria-label="Link to the developer's LinkedIn Page" class="social-links"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="../static/images/team/tanise.jpeg" alt="Tanise Carvalho's Profile Picture" class="img-team">
          <div class="card-body">
            <h5 class="card-title">Tanise Carvalho</h5>
            <a href="https://github.com/tanisecarvalho" target="_blank" rel="noopener" aria-label="Link to the developer's GitHub Page" class="social-links"><i class="fa-brands fa-github fa-2xl"></i></a>
            <a href="https://www.linkedin.com/in/tanisecarvalho/" target="_blank" rel="noopener" aria-label="Link to the developer's LinkedIn Page" class="social-links"><i class="fa-brands fa-linkedin-in fa-2xl"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>



{% endblock %}